<div class="news-feed-section">
  <div class="feed-post" *ngFor="let post of all_posts; let i = index">
    <mat-card class="post-card" >
      <mat-card-header>
        <img mat-card-avatar src="{{ getAvatarUrlById(post.id_user) }}" class="profile-picture">
        <mat-card-title>{{ post.title }}</mat-card-title>
        <mat-card-subtitle>Le {{ post.creationdate.toLocaleString() }}, par {{ getUsernameById(post.id_user) }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image *ngIf="post.url_image.length != 0" src="{{ post.url_image }}" class="feed-post-image" />
      <mat-card-content>
        <p>{{ post.description }}</p>
      </mat-card-content>
      <mat-card-actions class="post-actions">
        <button mat-button>Like</button>
        <button mat-button>Partage</button>
        <button mat-button>Commenter</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
