.news-feed-section h2 {
  text-align: center;
}

.post-card {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.example-header-image {
  background-size: cover;
}

.post-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
