<div class="new-post-section">
    <div class="user-profile-mini">
        <img [src]="currentUser.picture" class="user-img">
    </div>
    <div class="location-card-comment">
        <form (ngSubmit)="onAddComment()">
            <div class="input-container">
                <div class="input-row">
                    <input type="text" [(ngModel)]="commentTitle" name="commentTitle" placeholder="Titre">
                    <input type="text" [(ngModel)]="commentImage" name="commentImage" placeholder="URL de l'image">
                </div>
                <textarea [(ngModel)]="commentText" name="commentText" placeholder="Commentaire"></textarea>
            </div>
            <button type="submit">Publier</button>
        </form>
    </div>
</div>

