<div class="new-post-section">
    <div class="user-profile-mini">
        <img [src]="currentUser.picture" class="user-img">
    </div>
    <form (ngSubmit)="onSubmit()" class="profile-form">
        <mat-form-field>
            <mat-label for="title">Titre:</mat-label>
            <input id="title" [(ngModel)]="new_post.title" name="title" matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label for="picture">URL de l'illustration de la publication:</mat-label>
            <input id="picture" [(ngModel)]="new_post.url_image" name="picture" matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label for="contents">Contenu de la publication:</mat-label>
            <textarea id="contents" [(ngModel)]="new_post.description" name="contents" matInput>
            </textarea>
        </mat-form-field>

        <button type="submit" class="btn-submit" mat-button>Publier</button>
    </form>
</div>
