.new-post-section h2 {
  text-align: center;
}

.new-post-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
