mat-form-field {
    width: 100%;
  }
  
  /* 1st solution - causes weird thing at the left side of input */
  ::ng-deep .mat-form-field-outline-start {
    border-radius: 28px 0 0 28px !important;
    min-width: 28px !important;
  }

h1 {
  font-family: 'Basteleur-Bold';
}

.map {
    // width: 70%;
    max-width: 450px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.map img {
    max-width: 100%;
    height: auto;
  }



h1 {
    color: #1e3932;
    text-align: center;
}


.locations {
    background-image: url('../../../assets/images/background/Plan_de_travail_1_copie_2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    padding: 30px;
    // max-width: 400px;
    // margin-bottom: 30px;
    // margin-left: auto;
    // margin-right: auto;
}

.locations-display {
    max-width: 423px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.location-card {
    margin-bottom: 30px;
}

.search {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.ImgCard {
  max-width: 450px;
}