<div class="locations">
    <h1>Trouver un jardin</h1>
    <form class="search">
        <mat-form-field class="search" appearance="outline">
            <input matInput placeholder="Ex. 6700, strasbourg" value="Strasbourg">
        </mat-form-field>
    </form>
    <div class="map">
        <img
            src="https://cdn-s-www.dna.fr/images/56E5F59B-2E0F-42AD-889B-90D762C6A08B/NW_raw/la-station-totalenergies-est-installee-le-long-de-la-m35-a-hauteur-d-ostwald-doc-google-map-1664553845.jpg" />
    </div>
    <div class="locations-display">
        <div *ngFor="let location of locations" class="location-card">

            <mat-card class="gardenCard">

                <div class="ImgCard">
                    <img [src]="location.url_image" alt="{{ location.name }}"
                        (click)="onViewDetails(location.id_location)" class="ImgCard">
                </div>

                <div class="cardContent">
                    <h2>{{ location.name }}</h2>
                    <p>{{ location.description }}</p>
                </div>
            </mat-card>

        </div>
    </div>
</div>