<mat-drawer-container class="home-container" autosize>
    <mat-drawer #drawer class="home-sidenav" mode="over">     
      <app-userprofile *ngIf="user.picture"></app-userprofile>
    </mat-drawer>
  
    <div class="home-sidenav-content">
        <div *ngIf="user.picture">
            <img [src]="user.picture" alt="Image de profil" class="icons profile-picture"
            [routerLink]="'/userprofile'"  />  <!--(click)="drawer.toggle()"-->

            <img [src]="'../../../assets/icons/locations.jpg'"  alt="Image de location" class="icons locations-picture"
            [routerLink]="'/locations'" />

            <img [src]="'../../../assets/icons/users.jpg'" alt="Image de user" class="icons users-picture"
            [routerLink]="'/feed'" />
        </div>
    </div>
  
    <router-outlet></router-outlet>
  </mat-drawer-container>
