.page {
    background-image: url('../../../assets/images/background/Plan_de_travail_1_copie_2.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.page-container {
    margin-left:120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 2rem;
    padding-bottom: 4rem;

}



.page-container2 {
    margin-left:120px;
    top: 0;
    position: absolute;
    width: 100%;
    padding-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;


    .location-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        background: #E3E3E3;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 1rem;
        width: 45%;
        margin-bottom: 20px;

    }

    .location-card img {
        object-fit: cover;
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
    }


    .location-name,
    .location-user,
    .location-description {
        width: 100%;
        text-align: left;
        padding: 5px;
        margin: 0;
    }

    .location-name {
        font-family: 'Basteleur-Bold';
        font-style: normal;
    }

    .location-image {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

    }

    .button-container {
        bottom: 1em;
        right: 1em;
        display: flex;
        width: 50%;
        padding: 0.5em;
    }

    .btn-detail,
    .btn-delete,
    .btn-unfollow {
        background: none;
        box-shadow: none;
        border: none;
        cursor: pointer;
        font-size: 1em;
        margin: 5px;
        color: #7F8114;
    }


}







h1 {
    font-family: 'Basteleur-Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-top: 4rem;
    gap: 1rem;
    width: 30rem;
    background: #E3E3E3;
    box-shadow: -4px 4px 0px rgba(127, 129, 20, 0.5);
    border-radius: 1rem;
}

label {
    width: 100%;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    color: #223634;
    padding-left: 1rem;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.input-container {
    animation: slideInFromLeft 0.5s ease-out;
    animation-fill-mode: backwards;
}

input,
textarea,
button {
    width: 100%;
    box-sizing: border-box;
    margin: 0.5rem 0;
    box-shadow: -4px 4px 0px rgba(127, 129, 20, 0.5);
    border: none;
    outline: none;
}

input,
textarea {
    background: #E9D781;
    border-radius: 1.2rem;
    height: 2.4rem;
    padding-left: 1rem;
    border: none;
    outline: none;
}

textarea {
    height: 6rem;
}

button {
    background: #7F8114;
    border-radius: 1.2rem;
    height: 2.4rem;
    cursor: pointer;
    color: #E3E3E3;

}


.switch-btn {
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: 1rem;
    border-radius: 50%;
    font-weight: bolder;
    width: 40px;
    height: 40px;
    color: #7F8114;
    background-color: #d6d6d6;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


button:disabled {
    background-color: #d6d6d6;
    cursor: not-allowed;
}

.rootmate {
    font-family: 'Basteleur-Bold';
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
}

.input-container {
    width: 100%;
}

.profile-picture {
    width: 50%;
    border-radius: 50%;
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.slide-in {
    animation: slideInFromLeft 0.5s forwards;
}

.slide-out {
    animation: slideOut 0.5s forwards;
}