.page-container {
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 2rem;
    background-image: url('../../../assets/images/background/Plan_de_travail_1_copie_2.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-family: 'Basteleur-Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-top: 4rem;
    gap: 1rem;
    width: 30rem;
    background: #E3E3E3;
    box-shadow: -4px 4px 0px rgba(127, 129, 20, 0.5);
    border-radius: 1rem;
}

label {
    width: 100%;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    color: #223634;
    padding-left: 1rem;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.input-container {
    animation: slideInFromLeft 0.5s ease-out;
    animation-fill-mode: backwards;
}

input,
button {
    width: 100%;
    box-sizing: border-box;
    margin: 0.5rem 0;
    box-shadow: -4px 4px 0px rgba(127, 129, 20, 0.5);
    border: none;
    outline: none;

}

input {
    background: #E9D781;
    border-radius: 1.2rem;
    height: 2.4rem;
    padding-left: 1rem;
    border: none;
    outline: none;
}

button {
    background: #7F8114;
    border-radius: 1.2rem;
    height: 2.4rem;
    cursor: pointer;
    color: #E3E3E3;
    font-size: 14px
}

button:disabled {
    background-color: #c9c9c9;
    color: #385956;
    cursor: not-allowed;

}

.rootmate {
    font-family: 'Basteleur-Bold';
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
}

.input-container {
    width: 100%;
}